/* police */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* body */


header, main {
    padding: 0 2.5em;
}

/* Header */
header {
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	height: 65px;
    margin-top: 0px;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

.reserviaLogo{
    width: 40%;
}

.LinkLogo{
    max-width: 100%;
}

header nav{
    height: 100%;
}

.menu {
	display: flex;
	flex-flow: row wrap;
	height: 100%;
    padding-left: 0px;
    margin:0;
}

.menu a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color:#3f3f3f;
	text-decoration: none;
	padding: 0 2em;
	border-top: 3px #ffffff solid;
	font-size: 1.2em;
    height: 100%;
}

.menu a.signup {
	font-weight: bold;
    color: #0065FC;
    border-top: 3px transparent solid;
}

.menu li a:hover, .menu li a.active {
	color:#0065FC;
    border-color: #0065FC;
}

.menu li a.signup:hover {
	border-top: 3px #ffffff solid;
}

/* end Header */



/* search section */

H1{
     margin-top: 40px;
     margin-bottom: 10px;
 }

 H2{
     font-weight: 500;
     font-size: 1.15em; 
 }
 


.search form{
    height: 60px;
    width: 35%;

 }

 .locationIconBox{
     background-color:  #F2F2F2;
     width: 11%;

     border-radius: 16px 0px 0px 16px;
     text-align: center;
  }
  
  .locationIconBox i{
     font-size: 1.2em; 
     font-weight: 900;
     padding-top: 18px;
     padding-left: 5px;    
  }
  
  .search form input{
      font-size: 1.2em;
      font-weight: bold;
      width: 90%;
      border-top: 1px solid #F2F2F2 ;
      border-bottom: 1px solid #F2F2F2;
      border-left: none;
      border-right: none;
      outline: none;
      padding-left: 20px;
  }

 .largeScreenButton{
     font-size: 1.2em;
     width: 28%;
     border: none;
     background-color:#0065FC;
     border-radius: 0px 16px 16px 0px;
     cursor: pointer;
     color: white;
     font-weight: 600;
 }
.phoneScreenButton{
    display: none;
    font-size: 1em;
    width: 60px;
    border: none;
    background-color:#0065FC;
    border-radius: 16px 16px 16px 16px;
    cursor: pointer;
    color: white;
    font-weight: 600;
}
    
.filters{
     
     width: 100%;
     margin: auto;
     margin-top: 20px;
     font-weight: bold;
     font-size: 1.2em;
     align-items:center; 
}

.filters ul{
    width: 80%;
    justify-content: space-between;
    margin-left: 10px;
    flex-wrap: nowrap;
    display: flex;
}

.filters ul li{
    height: 50px;
    align-items: center;
    display: flex;
    border: 3px solid #F2F2F2;
    border-radius: 50px;
    border-left: none;
    cursor: pointer;
    margin-inline: 5px;
    padding-right: 15px;
    margin-top: 7px;

}
.filters ul :hover{
    background-color:#DEEBFF;
    transition:0.3s;
}

.filters ul li i{
    display: flex;
    margin-right: 30px;
    border: 0px solid #F2F2F2;
    height: 55px;
    width: 55px;
    justify-content: center;
    align-items: center;
    background-color:#DEEBFF;
    border-radius: 50px;
    font-size: 1.3em;
    color: #0065FC;
    margin-right: 15px;   
}

.info{
    font-size: 1.2em;
}

.info i{
    height: 25px;
    width: 25px;
    font-size: 0.7em;
    margin-right: 25px;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    text-align: center;
    padding-top: 6px;
    padding-inline: 2.5px;
    color: #0065FC; 
    margin-top: -6px;
}

/* end search section */


/* hosting section */
#hosting{
    margin: auto;
    justify-content: space-between;
}

.hostingMarseille{
    width: 65%;
    border: transparent hidden 0px;
    background-color: #F2F2F2;
    border-radius: 30px;
}

#hosting H3{
    font-size: 1.5em;
    margin: 40px 0 40px 40px;
}

.boxarticle{
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.boxarticle a{
    padding: 5px;

}


.hostingMarseille div a {
    width: 31%;
    border: transparent hidden 0px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(182, 182, 182);
    overflow: hidden;
    height: 100%;
    margin-bottom: 15px;
}

.boximg {
    height: 10em;
}

.boximg img{
    height: 100%;
    width: 100%;
    object-fit :cover;
    border-radius: 15px 15px 0px 0px;
}

#hosting .hostingMarseille div H4{
    color: black;
    width: 88%;
    margin: auto;
    margin-top: 8px;
}

#hosting div div a article p{
    color:black;
    width: 88%;
    margin: auto;
    padding: 5px;
}


#hosting div div a article .boxetoile{
    margin-left: 15px;
    margin-bottom: 5px;
}



.blueStar{
    color: #0065FC;
    font-size: 0.8em;
}

.grayStar{
    color: #cccccc;
    font-size: 0.8em;
}

#hosting p a{
    font-weight: bold;
    color: black;
    font-size: 1.3em;
    margin-left: 20px;
}

.showMore{
    color: black;
    font-size: 0.85em;
    margin: 10px 10px 30px 20px;
}

.popular{
    width: 32%;
    border: transparent hidden 0px;
    background-color: #F2F2F2;
    border-radius: 30px;
}

.title{
    width: 90%;
    align-items: baseline;
    justify-content: space-between;
}

.title i{
    font-size: 1.6em;

}

.popularLogo{
    color: black;
}

.cards{
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
    margin: auto;
}

.boximgpopular {
    width: 40%;
    height: 10em;
}

.boximgpopular img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.cards a{
    width: 100%;
    border: transparent hidden 0px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(182, 182, 182);
    margin-bottom: 15px;
}

.cards article{
    width: 98%;
    justify-content: flex-start;
    padding: 5px;
}

.cardDescription{
   width: 52%;
}

.cardDescription h4{
    text-align: left;
    color: black;
    width: 88%;
    margin: auto;
    margin-top: 20px;
}

.cardDescription p{
    font-size: 0.85em;
}

.cardDescription div{
    width: 90%;
    padding-top: 3em;
    margin: auto;
}

/* end hosting section */


/* activities section */

#activites{
    margin: 0 0 3em;
    display: grid;
    grid-column: 1/3;
}

#activites h2{
    font-size: 1.5em;
    margin-top: 40px;
    font-weight: bold;
}

#activites ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,5em);
    gap: 2.5em;
    padding-left: 0px;
}

#activites ul .carte-type1 {
    grid-row: 1/6;
}

#activites ul .carte-type2 {
    grid-row: 1/4;
}

#activites ul .carte-type3 {
    grid-row: 4/6;
}

#activites ul .carte-type4 {
    grid-row: 1/3;
}

#activites ul .carte-type5 {
    grid-row: 3/6;
}

#activites ul li a {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgb(0,0,0,0.2);
    transition: all 0.3s;
}

#activites ul li a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

#activites a h3 {
    padding: 20px;
    margin: 0px;
    color: black;
}

#activites a:hover,
#activites a:hover h3 {
    color:#0065FC;
}


/* hover article animation */
#hosting div div a:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.popularhover a:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}

#activites a:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}

/* end hover article animation */

/* end activities section */


/* footer */
footer{
    background-color: #F2F2F2;
    padding: 0 2.5em;
}

footer div{
    width: 100%;
    margin-top: 50px;
}

footer div section{
    width: 30%;
}

h5{
    font-size: 1.2em;
    margin-top: 40px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a :hover{
    color: #0065FC;
}

/* end footer*/


/* medias queries */

@media (max-width: 1280px) {
    header{
        margin: auto;
    }

    .LinkLogo {
        max-width: 24%;
    }

    .reserviaLogo {
        width: 60%;
        
    }

    .search{
        width: 100%;
    }

    .search form{
        width: 95%;
        min-width: unset;
    }
    .filters ul{
        justify-content: left;
        flex-wrap: wrap;
        width: unset;
    }

    .phoneScreenButton{
        display:unset;
    }

    .largeScreenButton{
        display: none;
    }

    #hosting{
        flex-direction: column-reverse;
        width: 100%;
        justify-content: space-between;
    }

    .hostingMarseille {
        margin: auto;
        width: 100%;
        margin-top: 20px;
    }

    #activities h3{
        margin-top: 40px;
    }



    .popular{
        width: 100%;
        margin: auto;
    }

    .cards{
        width: 95%;
    }

    .cards div a{
        width: 88%;
    }


    footer div{
        width: 95%;
        justify-content: space-between;
    }
}

@media (max-width: 790px) {

    header {
		padding: 0 0 2em;
		position: relative;
		flex-flow: row wrap;
        height: 100%;
	}

    .LinkLogo {
        max-width: 30%;
        margin-left: 10px;
    }

    .reserviaLogo{
        width: 80%;
    }

    main{
        padding: unset;
    }

	.reserviaLogo {
		position: relative;
		left: 2em;
	}

	header nav {
		margin: 0.5em 0 0 0;
		width: 100%;
	}

	.menu {
		flex-flow: unset;
	}

	.menu li {
		width: 100%;
	}
	
	.menu li:last-child {
		width: auto;
	}

	.menu a {
		display: flex;
		flex-direction: row;
		justify-content: center;
		color: #3f3f3f;
		text-decoration: none;
		padding: 0.3em 0;
		border:none;
		border-bottom: 2px #F2F2F2 solid;
		font-size: 0.85em;
	}

	.menu a.signup {
		font-weight: bold;
		position: absolute;
		display: flex;
		padding: 0 2em;
		right: 2em;
		top: 1.4em;
		color: #0065FC;
		justify-content: flex-start;
		border: none;
	}

	.menu li a:hover, .menu li a.active {
		color:#0065FC;
		border: none;
		border-bottom: 2px #0065FC solid;
	}

	.menu li a.signup:hover {
		border:none;
	}

    .search{
        width: 95%;
        margin: auto;
    }

    h1{
        margin-top: 5px;
    }

    .search form{
        margin: 2em 0 2em;
    }

    .filters ul{
        flex-wrap: wrap;
    }


    .hostingMarseille div a{
        width: 100%;
    }

    #hosting div div a article .boxetoile {
        margin-left: 30px;
        margin-bottom: 5px;
    }

    #activites{
        grid-column: 1/3;
    }

    #activites ul{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,10em);
        padding-left: 10px;
        padding-right: 10px;
    }

    #activites ul .carte-type1,
    #activites ul .carte-type2,
    #activites ul .carte-type3,
    #activites ul .carte-type4,
    #activites ul .carte-type5 {
        grid-row: auto;
    }

    #activites h2 {
        margin-top: 20px;
        margin-left: 20px;
    }

    footer {
        padding: 0 10px;
    }

    footer div section {
        width: 33%;
        text-align: center;
    }

    footer div {
        width: 100%;
    }

    footer div section h5{
        font-size: 1em;
    }
    footer div section a p {
        margin-bottom: 10px;
    }
}

@media (max-width: 490px) {



    .filters{
        flex-direction: column;
        align-items: flex-start;
    }
    .filters ul {
        align-items: flex-start;
        width: 100%;
        text-align: left;
        margin:0;
        padding:0;
        display: flex;
    }

    #hosting h3{
        margin-left: 0.55em
    }

    .hostingMarseille{
        background-color: white;
    }
    
    .hostingMarseille div{
        width: 100%;
        justify-content: space-around;
        margin: auto;
    }

    #hosting div div a article .boxetoile {
        margin-left: 25px;
    }

    .hostingMarseille div a{
        width: 100%;
        
    }

    .hostingMarseille div a img {
        width: 100%;
    }

    .popular{
        border-radius: unset;
    }

    .info{
        margin-top: 1em;
    }

    .info i{
        width: 35px;
    }

    #hosting p a {
        margin-left: 0px;
    }

    #activites ul{
        grid-template-columns: 1fr;
        grid-template-rows: 10em 10em 10em 10em 10em 10em;
        gap: 2.5;
    }
    
    footer div{
        flex-direction: column;
        text-align: left;
    }

    footer div section {
        width: 100%;
        text-align: left;
    }


}

     /*end medias queries*/